## Pair Unión y Limpieza de Datos

### Ejercicios Unión de Datos

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:

    GDP: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.

    Gross primary education enrollment (%): Tasa bruta de matriculación en educación primaria.

    Gross tertiary education enrollment (%): Tasa bruta de matriculación en educación terciaria.

    Infant mortality: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.

    Largest city: Nombre de la ciudad más grande del país.

    Life expectancy: Número promedio de años que se espera que viva un recién nacido.

    Maternal mortality ratio: Número de muertes maternas por cada 100,000 nacidos vivos.

    Minimum wage: Nivel de salario mínimo en moneda local.

    Official language: Idioma(s) oficial(es) hablado(s) en el país.

    Out of pocket health expenditure: Porcentaje del gasto total en salud pagado directamente por individuos.

    Physicians per thousand: Número de médicos por cada mil personas.

    Population: Población total del país.

    Population: Labor force participation (%): Porcentaje de la población que forma parte de la fuerza laboral.

    Tax revenue (%): Ingresos fiscales como porcentaje del PIB.

    Total tax rate: Carga fiscal total como porcentaje de las ganancias comerciales.

    Unemployment rate: Porcentaje de la fuerza laboral que está desempleada.

    Urban_population: Porcentaje de la población que vive en áreas urbanas.

    coordinates: Coordenadas de latitud y longitud de la ubicación del país.

    country: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:


1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#importamos las tablas 
url1='https://raw.githubusercontent.com/spinelf/PairProgramming_Modulo03/main/world-data-2023_part1.csv'
url2='https://raw.githubusercontent.com/spinelf/PairProgramming_Modulo03/main/world-data-2023_part2.csv'
df_wd_part1=pd.read_csv(url1, usecols=lambda column: column != 'Unnamed: 0')
df_wd_part2=pd.read_csv(url2, usecols=lambda column: column != 'Unnamed: 0')

In [3]:
df_wd_part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    object
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    object
 15  Gasoline Price         175 non-null    object
dtypes: float64(3), object(13)
memory usage: 24.5+ KB

In [4]:

df_wd_part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 19 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GDP                                        193 non-null    object
 1   Gross primary education enrollment (%)     188 non-null    object
 2   Gross tertiary education enrollment (%)    183 non-null    object
 3   Infant mortality                           189 non-null    float64
 4   Largest city                               189 non-null    object
 5   Life expectancy                            187 non-null    float64
 6   Maternal mortality ratio                   181 non-null    float64
 7   Minimum wage                               150 non-null    object
 8   Official language                          190 non-null    object
 9   Out of pocket health expenditure           188 non-null    object
 10  Physicians per thousand                    188 non-null    float64
 11  Population                                 194 non-null    object
 12  Population: Labor force participation (%)  176 non-null    object
 13  Tax revenue (%)                            169 non-null    object
 14  Total tax rate                             183 non-null    object
 15  Unemployment rate                          176 non-null    object
 16  Urban_population                           190 non-null    object
 17  country                                    195 non-null    object
 18  coordinates                                195 non-null    object
dtypes: float64(4), object(15)
memory usage: 29.1+ KB

2. Identifica las columnas comunes entre los dos conjuntos de datos.

No hay columnas comunes. Country y country son diferentes strings

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame

In [5]:
df_wd_junto=pd.concat([df_wd_part1,df_wd_part2], axis=1)
df_wd_junto

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

No hay coluimnas iguales y ambas tablas tienen el mismo numero de registro.

# Ejercicios de Limpieza


1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [6]:
df_wd_junto_copy=df_wd_junto.copy()

In [7]:
df_wd_junto_copy.drop('country', axis= 1, inplace= True)

In [8]:
nombres_columnas=df_wd_junto_copy.columns
nombres_columnas

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')


2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

        No tengan espacios.

        Estén en minúscula.

        No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

        Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

        Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [11]:
colum_limpias=[]
for columna in nombres_columnas:
    columna.strip()
    columna.lower()
    columnas_limpias=re.sub('\(.+\)','',columna)
    colum_limpias.append(columnas_limpias)

In [16]:
# 2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que: (Solucion Nacho)

nuevas_columnas = {col: col.split("(")[0].strip().replace(" ", "_").replace("\n", "").replace(":", "").lower() for col in nombres_columnas}
df_wd_junto_copy.rename(columns=nuevas_columnas, inplace = True)

In [17]:
colum_limpias

['Country',
 'Density\n',
 'Abbreviation',
 'Agricultural Land',
 'Land Area',
 'Armed Forces size',
 'Birth Rate',
 'Calling Code',
 'Capital/Major City',
 'Co2-Emissions',
 'CPI',
 'CPI Change ',
 'Currency-Code',
 'Fertility Rate',
 'Forested Area ',
 'Gasoline Price',
 'GDP',
 'Gross primary education enrollment ',
 'Gross tertiary education enrollment ',
 'Infant mortality',
 'Largest city',
 'Life expectancy',
 'Maternal mortality ratio',
 'Minimum wage',
 'Official language',
 'Out of pocket health expenditure',
 'Physicians per thousand',
 'Population',
 'Population: Labor force participation ',
 'Tax revenue ',
 'Total tax rate',
 'Unemployment rate',
 'Urban_population',
 'coordinates']


3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [18]:
# Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates. 
df_wd_junto_copy[["latitude", "longitude"]] = df_wd_junto_copy["coordinates"].str.split(",", expand = True)
df_wd_junto_copy.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')

In [19]:
df_wd_junto_copy.drop("coordinates", axis = 1, inplace = True)
df_wd_junto_copy.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')


4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [20]:
# Elimina los "%" de los valores de las columnas. 
reemplazar = ["unemployment_rate", "total_tax_rate", "tax_revenue", "population_labor_force_participation", "out_of_pocket_health_expenditure", "gross_tertiary_education_enrollment", "gross_primary_education_enrollment", "forested_area", "cpi_change",   "agricultural_land"]

for col in reemplazar: 
    df_wd_junto_copy[col] = df_wd_junto_copy[col].str.replace("%", "")

In [ ]:
df_wd_junto_copy.head(1)


5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [21]:
# 5. Haz lo mismo para las columnas de `gasoline_price`, `gdp`, `minimum_wage`, pero eliminando "$". 
reemplazar2 = ["gasoline_price", "gdp", "minimum_wage"]

for col in reemplazar2:
    df_wd_junto_copy[col] = df_wd_junto_copy[col].str.replace("$", "")

/tmp/ipykernel_1432/1139206601.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_wd_junto_copy[col] = df_wd_junto_copy[col].str.replace("$", "")

In [22]:
df_wd_junto_copy.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')


6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [23]:

df_wd_junto_copy.to_csv("wdata_final.csv")

## Ejercicios de Filtrado


1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.


2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.


3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.


4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.


5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.


6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.


7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.