## Pair Group By y Apply

### Ejercicios apply

In [ ]:
import pandas as pd
import numpy as np
import re

:

In [41]:
#importamos las tablas 
url='wdata_final.csv'
df_wd_part_final=pd.read_csv(url, usecols=lambda column: column != 'Unnamed: 0')
pd.set_option('display.max_columns', None)

In [42]:
df_wd_part_final.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')

In [43]:
df_wd_part_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    object
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             194 non-null    object
 5   armed_forces_size                     171 non-null    object
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         188 non-null    object
 10  cpi                                   178 non-null    object
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    object
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    object
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      190 non-null    object
 33  latitude                              195 non-null    object
 34  longitude                             195 non-null    object
dtypes: float64(19), object(16)
memory usage: 53.4+ KB


1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [ ]:
# Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde. 

def cambiar_tipo_dato(col):
    try: 
        col = col.replace(",", ".")
        return float(col)
    except:
        return np.nan

:

In [63]:
lista_columnas=['land_area', 'armed_forces_size', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitude', 'longitude', 'density', 'cpi']

for columna in lista_columnas:
df_wd_part_final[columna] = df_wd_part_final[columna].apply(cambiar_tipo_dato)


2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.


3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

### Ejercicios groupby


1. ¿Cuál es la densidad de población promedio por continente?


2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.


3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?


4. ¿Cuál es el salario mínimo por continente?


5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

    Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

    Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

    Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

    Encuentra el país que tiene el valor más alto en esta nueva columna calculada.


6. ¿Cuál es el porcentaje de población urbana promedio por continente?


7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

    Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

    Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio


8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

    Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

    Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

    Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

    Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.


### BONUS 9. Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?